html,
body {
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #FFFDFE;
}

.container {
    max-width: 400px;
    /* width: 100vw; */
    height: 100vh;
    margin: 0 auto;
    border: 1px solid grey;
    /* background-color: grey; */
}

.top {
    height: 90px;
    max-width: 550px;
    width: 100%;
    background-color: red;

}

.color-container {

    height: 460px;
    /* background-color: green; */
    display: flex;
}

.bar-container {
    width: 110px;
    height: 460px;
    display: flex;
    flex-direction: column;
}

.main {
    /* width: 550px; */
    width: 100%;
    height: 90px;
    border: 1px solid #D1D5DB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    /* gap: 0.5em; */
}

.picker {
    width: 61px;
    height: 42px;

}

.select {
    width: 312px;
    height: 42px;
    padding: 1em 2em;
    background: #FFFFFF;
    color: #D1D5DB;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 0.25rem;
    line-height: 150%;
    color: #111827;
}

.get-btn {
    width: 123px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    text-align: center;
    font-size: 0.75rem;
}

.color-bar-container {
    display: flex;
    width: 400px;
    height: 414px;
    /* border: 5px solid red; */
}

.color-bar {
    width: 110px;
    height: 414px;
    background-color: #023047;
}

.hex-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 46px;
    /* border: 1px dotted purple; */
}

.color-bar-3 {
    /* display: flex; */
    width: 110px;
    height: 414px;
    background-color: #fb8500;
}

.color-bar-4 {
    /* display: flex; */
    width: 110px;
    height: 414px;
    background-color: #219ebc;
}

.color-bar-5 {
    /* display: flex; */
    width: 110px;
    height: 414px;
    background-color: #8ecae6;
}

/* span {
    margin: auto;
} */